.scoresheet {
  width: auto;
  margin: auto auto;
}

div.bordered-round{
  border: 1px solid #00000020;
  border-radius: 15px;
  padding: 15px 0px;
}

div.small-padding{
  padding: 0px 3px;
}

hr.small-margin{
  margin: 3px 0px;
}

label{
  margin: 0px 2px;
}

::-webkit-input-placeholder {
 text-align: center;
}
:-moz-placeholder { /* older Firefox*/
 text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */ 
 text-align: center;
} 
:-ms-input-placeholder { 
 text-align: center;
}